.form{
    width: 400px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: gainsboro;
    display: block;   
    flex-wrap: wrap;

}

.form select, .form input{
    margin-bottom: 15px;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
    border-radius: 3px;
    width: 390px;
    color:gray
}

.form button{
    background-color: gray;
    color: #fff;
    
}

button:hover{
    background-color: #fff;
    color: gray;

}

.err{
    color: red;
    padding-top: 20px;
}